/* html, body {
  width: 100vw;
  height: 100vh;
} */

.content {
  position: relative;
  min-height: calc(100vh - 61px);
}

main {
  margin-top: 61px;
  padding-bottom: 50px;
}

footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #36f;
  color: white;
  padding: 0.5rem;
  text-align: center;
}

footer p {
  margin: 0;
}

footer a {
  font-weight: bold;
  color: white;
}

/* NavBar */
nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 61px;
  background: #36f;
  z-index: 1000;
  color: white;
  padding: 0.3rem 0.5rem;
}

nav a {
  text-decoration: none;
  color: white;
}

.title {
  /* width: 265px; */
  text-align: center;
}

.title h1 {
  margin: 0.5rem 0 0;
  line-height: 0.8;
}

.nav-links {
  list-style: none;
  position: fixed;
  top: 61px;
  left: 0;
  right: 0;
  background: #36f;
  margin: 0;
  padding-bottom: 1rem;
  z-index: 900;
  transform-origin: top;
  transform: translateY(0);
  transition: all 0.35s ease-in-out;
}

.hidden {
  transform: translateY(-110%)
}

.nav-links a,
.link {
  text-decoration: none;
  margin: 0;
  padding: 0.15rem 0;
  color: white;
  font-weight: bold;
}

/* movie index page */
.home{
  padding: 0.75rem 0;
}

.movie-category {
  margin-bottom: 2vw;
}

.category-title {
  margin: 0 0 1vw 6vw;
}

.scroll-container {
  position: relative;
}

.scroll-horizontal {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: stretch;
  padding: 0 10vw;
}

.movie-container {
  padding: 0 1vw;
  text-align: center;
}

.movie {
  background: #e0eaef;
  border-radius: 0.25rem;
  overflow:hidden;
  width: 38vw;
  height: 100%;
  white-space: nowrap;
}

.movie img{
  width: 100%;
}

.movie p {
  margin: 0.25rem 0.25rem 0.4rem;
  font-size: 0.85rem;
}

.marquee {
  animation: marquee;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.movie-container:last-child {
  padding-right: 11vw;
}

.left-container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10vw;
  background: rgba(255,255,255,0.8);
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 1vw;
  transform: translateY(-50%);
  display: block;
  border-top: 7vw solid transparent;
  border-bottom: 7vw solid transparent;
  border-right: 3.5vw solid #36f;
}

.right-container{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 10vw;
  background: rgba(255,255,255,0.8);
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 1vw;
  transform: translateY(-50%);
  display: block;
  border-top: 7vw solid transparent;
  border-bottom: 7vw solid transparent;
  border-left: 3.5vw solid #36f;
}


/* movie information page */
.movie-page {
  display: flex;
  flex-direction: column;
}

.left img {
  display: block;
  margin: 1rem auto 0.5rem;
  width: 85%;
  border-radius: 0.5rem;
}

.movie-title {
  margin: 0;
  text-align: center
}

.movie-info-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  max-width: 360px;
  margin: 0 auto;
}

.movie-info {
  margin: 0.4rem 0 0;
}

.list-group {
  margin: 0.9rem 0;
  display: flex;
}

.list-group-title{
  box-sizing: border-box;
  /* width: 35%; */
  width: 95px;
  padding-right: 0.5rem;
  margin: 0;
}

.list-input {
  list-style: none;
  padding-inline-start: 0;
  width: 65%;
  margin: 0;
}

.right {
  padding: 0 0.75rem;
  text-align: justify;
}


/* responsive sizing */
@media (min-width: 450px){
  .scroll-horizontal {
    padding: 0 5vw;
  }
  
  .movie {
    width: 28vw;
  }

  .movie-container:last-child {
    padding-right: 6vw;
  }

  .left-container,
  .right-container {
    width: 5vw;
  }

  .left-arrow {
    border-top: 5vw solid transparent;
    border-bottom: 5vw solid transparent;
    border-right: 2.5vw solid #36f;
  }

  .right-arrow {
    border-top: 5vw solid transparent;
    border-bottom: 5vw solid transparent;
    border-left: 2.5vw solid #36f;
  }

  .left img {
    width: 65%;
  }
}


@media (min-width: 600px){
  .nav-links {
    left:auto;
    padding-right: 2rem;
    padding-inline-start: 1.25rem;
    border-radius: 0 0 0 0.5rem;
  }

  .movie-container {
    padding: 0 0.5vw;
  }

  .movie-container:last-child {
    padding-right: 5.5vw;
  }

  .movie {
    width: 17vw;
  }

  .left-arrow {
    border-top: 4vw solid transparent;
    border-bottom: 4vw solid transparent;
    border-right: 2vw solid #36f;
  }

  .right-arrow {
    border-top: 4vw solid transparent;
    border-bottom: 4vw solid transparent;
    border-left: 2vw solid #36f;
  }

  .movie-page {
    flex-direction: row;
  }

  .left {
    min-width: 300px;
    max-width: 300px;
  }

  .left img {
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  
  .right {
    padding: 2.5rem 1rem;
  }

  .description {
    margin-bottom: 3rem;
  }

  .info-lists {
    margin-top: 2rem;
  }
}


@media (min-width: 950px){
  .scroll-horizontal {
    padding: 0 4.5vw;
  }

  .movie-container {
    padding: 0 0.5vw;
  }

  .movie-container:last-child {
    padding-right: 5vw;
  }

  .movie {
    width: 12vw;
  }

  .left-container, .right-container {
    width: 4.5vw
  }

  .left-arrow {
    border-top: 3vw solid transparent;
    border-bottom: 3vw solid transparent;
    border-right: 1.5vw solid #36f;
  }

  .right-arrow {
    border-top: 3vw solid transparent;
    border-bottom: 3vw solid transparent;
    border-left: 1.5vw solid #36f;
  }

  .right {
    padding: 2.5rem 8rem 2.5rem 2rem;
  }
}


/* animation */
@keyframes marquee {
  0% {
    transform: translateX(100%)
  }
  100% {
    transform: translateX(-300%)
  }
}